h1 {
  margin-top: 80px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: rgb(194, 24, 91);
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10px;
  min-height: 70vh; 
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px; 
  margin: auto;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; 
}

.caption {
  visibility: hidden;
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  background-color: rgba(194, 24, 92, 0.58);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap; 
}

.carousel-slide:hover .caption {
  visibility: visible; 
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 2;
}

button:hover {
  background-color: rgba(194, 24, 92, 0.471);
}

button.left {
  left: 10px; 
}

button.right {
  right: 10px; 
}


@media (max-width: 600px) {
  .carousel-wrapper {
    max-width: 90%; 
  }

  .button.left, .button.right {
    font-size: 1.5rem; 
    padding: 5px;
  }

  .caption {
    font-size: 0.9rem;
  }
}
