.title {
  text-align: center;
  margin-top: 70px;
  font-family: 'Playfair Display', serif;
  color: rgb(194, 24, 91);
}

#directions {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: rgb(108, 52, 131);
  margin-bottom: 20px;
}

.projectLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.projectCard {
  width: 100%;
  max-width: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
}

.projectCard:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectName {
  font-size: 1.2em;
  color: rgb(108, 52, 131); 
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.projects {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.githubLinks {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubLinks a {
  text-decoration: none;
  color: rgb(194, 24, 91);
  font-weight: bold;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.githubLinks a:hover {
  color: rgb(108, 52, 131);
}

@media (min-width: 768px) {
  .projectCard {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .projectCard {
    max-width: 350px;
  }
}
